/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
- Line heights:
- Letter spacing:


--- 02 COLORS
- Primary: #0c8599 
- Tints: 
- Shades: 
- Accents: #fcc419
- Grey: #e9ecef

--- 03 SHADOWS



--- 04 BORDER-RADIUS
Default:
Medium:


--- 05 WHITESPACES
- Spacing systems (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/************************/
/***** GENERAL STYLE ****/
/************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px  = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, #06434d, #4b5e61);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #e9ecef;

  display: flex;
  justify-content: center;
  align-items: center;
}

.big-container {
  background-color: #343a40;
  width: 90%;
  height: 90%;
  border-radius: 2.4rem;
  display: flex;
  flex-direction: row;
  border: 4px solid #e9ecef;
  overflow: hidden;
}

.sub-title {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

/************************/
/***** LEFT SIDE *******/
/************************/

.left-side {
  background-color: #55aab8;
  flex: 1 1 35%;
  border-right: 4px solid #e9ecef;
  position: relative;
}

/************************/
/***** NAVIGATION *******/
/************************/

.left-header-nav {
  background-color: #0c8599;
  width: 100%;
  height: 7rem;
  /* height: 10rem; */
  padding: 2rem 3rem;
}

.nav-list {
  list-style: none;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.nav-link:link,
.nav-link:visited {
  color: #e9ecef;
  text-decoration: none;
  padding: 1rem;
}

.nav-link:hover,
.nav-link:active {
  color: #fcc419;
}

/************************/
/***** HERO & FOOTER ****/
/************************/
.home-img {
  width: 20rem;
  height: 20rem;
  display: block;
  margin: 10rem auto 3rem auto;
  border-radius: 50%;
  border: 3px solid #e9ecef;
}

.home-intro,
.home-desc {
  text-align: center;
  font-size: 2.4rem;
}

.home-desc {
  margin-bottom: 1.2rem;
}
/* TYPE-WRITE-EFFECT */

.txt-type > .txt {
  border-right: 0.2rem solid #fcc419;
}

.home-link {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.link-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.link--link:link,
.link--link:visited {
  color: #0c8599;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.link--link:hover,
.link--link:active {
  color: #fcc419;
  box-shadow: inset 0px 0px 0px 0.2rem #fcc419;
}

.right-side::-webkit-scrollbar {
  width: 1em;
}
.right-side::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.right-side::-webkit-scrollbar-thumb {
  background-color: #0c8599;
}

/************************/
/***** RIGHT SIDE *******/
/************************/

.right-side {
  background-color: #55aab8;
  flex: 1 1 65%;
  overflow-y: scroll;
}

.right-side-content {
  max-width: 70%;
  padding: 8rem 0;
  margin: 0 auto;
}

/************************/
/***** ABOUT ME ******/
/************************/

.right-about {
  background-color: #3d9dad;
  margin-bottom: 3rem;
}
.about--text {
  font-size: 2.2rem;
  margin-bottom: 2.4rem;
  text-indent: 5rem;
  text-align: justify;
}

.left-footer {
  position: absolute;
  height: 3rem;
  bottom: 0;
  background-color: #0c8599;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 1.2rem;
  padding: 0.5rem;
}

/************************/
/***** TOOLS *******/
/************************/

.tools--text {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
  text-indent: 10rem;
  margin-top: -1.5rem;
}

.yellow-it {
  color: #fcc419;
}

.tools-list {
  /* margin: 0 auto; */
  height: auto;
  max-width: 90%;
  display: grid;

  grid-template-columns: repeat(4, 14rem);
  justify-items: center;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 2.4rem;
}

.tools-tech {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tools-icon {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1.2rem;
  transition: ease-in all 0.2s;
}

.tools-icon:hover,
.tools-icon:hover + .icon-text {
  color: #0c8599;
}
.icon-text {
  font-size: 1.8rem;
}

.on-learning:hover,
.on-learning:hover + .icon-text {
  color: #fcc419;
}

/************************/
/***** PROJECTS *******/
/************************/

.right-projects {
  background-color: #3d9dad;
}

.project-main-title {
  text-decoration: underline #fcc419;
}

.tags {
  display: inline-block;
  font-size: 1.4rem;
  padding: 4px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 4px 3px 1px rgba(182, 218, 224, 0.5);
  text-indent: 0;
  transition: ease-in-out all 0.2s;
}

.self-made {
  background-color: #f08c00;
}

.following-along {
  background-color: #0c8599;
}

.following-along:hover,
.self-made:hover {
  transform: translateY(-5px);
}

.project-intro {
  margin-bottom: 4rem;
}
.project {
  width: 95%;
  border: 3px solid #e9ecef;
  border-radius: 2.4rem;
  padding: 2rem 2.4rem;
  margin: 0 auto 3rem auto;
  transition: ease-in all 0.3s;
}

.project:hover,
.contact-form:hover {
  border: 3px solid #0c8599;
}

.project-title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  transition: ease-in all 0.2s;
}

.project-image {
  width: 80%;
  display: block;
  margin: 1.6rem auto 1rem auto;
}

.project-link-information {
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 1.6rem;
  vertical-align: center;
}

.project-repo-link:link,
.project-repo-link:visited {
  background-color: #bd5d2d;
  text-decoration: none;
  color: #e9ecef;
  margin-right: 0.5rem;
}

.project-repo-link:hover,
.project-repo-link:active {
  background-color: #e9ecef;
  color: #bd5d2d;
}

.project-live-site:link,
.project-live-site:visited {
  background-color: #25af48;
  color: #e9ecef;
  text-decoration: none;
}
.project-live-site:hover,
.project-live-site:active {
  background-color: #e9ecef;
  color: #25af48;
  text-decoration: none;
}

.project-desc {
  font-size: 1.8rem;
}

/************************/
/***** PROJECTS *******/
/************************/

.contact-title-desc {
  font-size: 2rem;
  font-weight: 700;
  margin-top: -1.5rem;
  color: #fcc419;
  margin-bottom: 3rem;
}

.contact-desc {
  margin-bottom: 3rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 95%;
  border: 3px solid #e9ecef;
  border-radius: 2.4rem;
  padding: 2rem 4rem;
  transition: ease-in all 0.2s;
}

.contact-form--box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

.contact-form--box > label {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.contact-form--box > input,
.contact-form--box > textarea {
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  font-family: "Lato", sans-serif;
}

.contact-form--box > textarea {
  resize: none;
  height: 12rem;
}

/* MEDIA QUERY */

/******************************/
/* BELOW 1200px (Landscape Tables) */
/******************************/

@media (max-width: 75em) {
  html {
    /* 9/16 =  0.5625 = 56.25% */
    font-size: 56.25%;
  }

  .right-side-content {
    max-width: 80%;
  }
}

@media (max-width: 62.5em) {
  .tools-list {
    grid-template-columns: repeat(3, 14rem);
    grid-row-gap: 4rem;
    height: auto;
    margin: 0 auto;
  }

  .right-side-content {
    /* max-width: 90%; */
  }
}

@media (max-width: 54em) {
  .big-container {
    flex-direction: column;
    /* padding: 10rem auto; */
    height: auto;
  }

  .left-side {
    height: auto;
  }

  .right-side {
    height: auto;
    overflow-y: none;
  }

  .right-contact {
  }
}
