/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
- Line heights:
- Letter spacing:


--- 02 COLORS
- Primary: #0c8599 
- Tints: 
- Shades: 
- Accents: #fcc419
- Grey: #e9ecef

--- 03 SHADOWS



--- 04 BORDER-RADIUS
Default:
Medium:


--- 05 WHITESPACES
- Spacing systems (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/************************/
/***** GENERAL STYLE ****/
/************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px  = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background: #0c8599;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #e9ecef;

  display: flex;
  justify-content: center;
  align-items: center;
}

.big-container {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #343a40;
  width: 90%;
  height: 90%;
  border-radius: 2.4rem;
  display: flex;
  flex-direction: row;
  border: 4px solid #e9ecef;
  overflow: hidden;
}

.sub-title {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

/************************/
/***** LEFT SIDE *******/
/************************/

.left-side {
  background-color: #55aab8;
  flex: 1 1 38rem;
  border-right: 4px solid #e9ecef;
  position: relative;
}

/************************/
/***** NAVIGATION *******/
/************************/

.left-header-nav {
  background-color: #0c8599;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
}

.nav-list {
  list-style: none;
  font-size: 1.8rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.nav-link:link,
.nav-link:visited {
  color: #e9ecef;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:active {
  color: #fcc419;
}

/* MOBILE NAVIGATION */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  /* text-align: center; */
}

.icon-mobile-nav {
  width: 4rem;
  height: 4rem;
  color: #e9ecef;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/************************/
/***** HERO & FOOTER ****/
/************************/

.left-home {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* align-content: space-around; */
  /* height: auto; */
}
.home-img {
  width: 17rem;
  height: 17rem;
  display: block;
  border-radius: 50%;
  border: 3px solid #e9ecef;
  margin: 1rem 0;
}

.home-intro,
.home-desc {
  text-align: center;
  font-size: 2.4rem;
}

.home-desc {
  margin-bottom: 2rem;
}
/* TYPE-WRITE-EFFECT */

.txt-type > .txt {
  border-right: 0.2rem solid #fcc419;
}

.home-link {
  border: 2px solid #e9ecef;
  border-radius: 0.5rem;
  width: 50%;
  margin-bottom: 1rem;
}

.link-icon {
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
  background-color: #0c8599;
  color: #e9ecef;
  margin-right: 1rem;
}

.link--link:link,
.link--link:visited {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  text-decoration: none;
  color: #e9ecef;
  border-bottom: 1px solid #e9ecef;
  /* margin-bottom: 3rem; */
  overflow: hidden;
  transition: background-color 0.5s;
}

.link--link:last-of-type {
  border-bottom: 0;
}

.link--link:hover,
.link--link:active,
.link--link:hover .link-icon {
  color: #fcc419;
  /* box-shadow: inset 0px 0px 0px 0.3rem #fcc419; */
  z-index: 100;
  background-color: #0c8599;
}

.link--link:hover .link-icon {
  border-right: 1px solid #e9ecef;
}

.left-footer {
  position: absolute;
  height: 3rem;
  bottom: 0;
  background-color: #0c8599;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 1.2rem;
  padding: 0.5rem;
}

/************************/
/***** RIGHT SIDE *******/
/************************/

.right-side::-webkit-scrollbar {
  width: 1em;
}
.right-side::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.right-side::-webkit-scrollbar-thumb {
  background-color: #0c8599;
}

.right-side {
  background-color: #55aab8;
  flex: 1 1 65%;
  overflow-y: scroll;
}

.right-side-content {
  max-width: 70%;
  padding: 8rem 0;
  margin: 0 auto;
}

/************************/
/***** ABOUT ME ******/
/************************/

.right-about {
  background-color: #3d9dad;
  margin-bottom: 3rem;
}

.about--text {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  text-indent: 5rem;
  text-align: justify;
  letter-spacing: 0.4px;
  transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0s,
    transform 2s cubic-bezier(0.5, 0, 0, 1) 0s;
}

.about--text:last-of-type {
  padding-bottom: 3rem;
}

.about--text > a {
  text-decoration: none;
  color: #e9ecef;
}
.about--text > a:hover,
.about--text > a:active {
  color: #fcc419;
}

.service--button:link,
.service--button:visited {
  text-decoration: none;
  font-size: 2.2rem;
  padding: 0.75rem 2rem;
  background-color: #0c8599;
  border: 2px solid #e9ecef;
  color: #e9ecef;
  transition: ease-in all 0.3s;
  display: block;
  width: 15rem;
  text-align: center;
  margin: 0 auto;
}

.service--button:hover,
.service--button:active {
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  background-color: #fcc419;
  color: #0c8599;
  border: 3px solid #0c8599;
}

/************************/
/******* SERVICES *******/
/************************/

/************************/
/***** TOOLS *******/
/************************/

.tools--text {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
  text-indent: 10rem;
  margin-top: -1.5rem;
}

.tool-use {
  color: #0c8599;
}
.yellow-it {
  color: #fcc419;
}

.tools-list {
  padding-left: 5rem;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
}

.tools-list > li {
  font-size: 2.6rem;
  transition: ease-in all 0.2s;
}

.tools-list > li:hover,
.tool-use:hover {
  color: #0c8599;
}
.icon-text {
  font-size: 1.8rem;
}

.tools-list > .currently-learn:hover {
  color: #fcc419;
}

/************************/
/***** PROJECTS *******/
/************************/

.right-projects {
  background-color: #3d9dad;
}

.project-main-title {
  text-decoration: underline #fcc419;
}

.tags {
  display: inline-block;
  font-size: 1.4rem;
  padding: 4px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 4px 3px 1px rgba(182, 218, 224, 0.5);
  text-indent: 0;
  transition: ease-in-out all 0.2s;
}

.personal {
  background-color: #f08c00;
}

.course-project {
  background-color: #0c8599;
}

.course-project:hover,
.personal:hover {
  transform: translateY(-5px);
}

.project-intro {
  margin-bottom: 4rem;
}
.project {
  width: 95%;
  border: 3px solid #e9ecef;
  border-radius: 2.4rem;
  padding: 2rem 2.4rem;
  margin: 0 auto 6rem auto;
  transition: ease-in all 0.3s;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.project:hover,
.contact-form:hover {
  border: 10px solid #fcc419;
  box-shadow: rgb(252, 196, 25, 0.4) 5px 5px, rgb(252, 196, 25, 0.3) 10px 10px,
    rgb(252, 196, 25, 0.2) 15px 15px, rgb(252, 196, 25, 0.1) 20px 20px,
    rgb(252, 196, 25, 0.05) 25px 25px;
}

.project-title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  transition: ease-in all 0.2s;
}

.project-image {
  width: 80%;
  display: block;
  margin: 1.6rem auto 1rem auto;
  border: 2px solid black;
}

.project-link-information {
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 1.6rem;
  vertical-align: center;
}

.project-repo-link:link,
.project-repo-link:visited {
  background-color: #c55016;
  text-decoration: none;
  color: #e9ecef;
  margin-right: 0.5rem;
}

.project-repo-link:hover,
.project-repo-link:active {
  background-color: #61280c;
  color: #fefefe;
}

.project-live-site:link,
.project-live-site:visited {
  background-color: #25af48;
  color: #e9ecef;
  text-decoration: none;
}
.project-live-site:hover,
.project-live-site:active {
  background-color: #126026;
  color: #fefefe;
  text-decoration: none;
}

.project-desc {
  font-size: 1.8rem;
  text-align: justify;
  margin-bottom: 1.2rem;
}

ul.project-desc {
  padding-left: 3rem;
}

.project-desc > a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

/************************/
/***** PROJECTS *******/
/************************/

.contact-main-title:hover + p.contact-title-desc {
  visibility: visible;
}

.contact-title-desc {
  font-size: 2rem;
  font-weight: 700;
  margin-top: -1.5rem;
  color: #fcc419;
  visibility: hidden;
}

.contact-desc {
  margin-bottom: 3rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 95%;
  border: 3px solid #e9ecef;
  border-radius: 2.4rem;
  padding: 2rem 4rem;
  transition: ease-in all 0.2s;
}

.contact-form--box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

.contact-form--box > label {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.contact-form--box > input,
.contact-form--box > textarea {
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  font-family: "Lato", sans-serif;
}

.contact-form--box > textarea {
  resize: none;
  height: 12rem;
}

.contact-submit {
  width: 10rem;
  margin-right: 0;
  margin-left: auto;
  padding: 1rem 2rem;
  border: 3px solid #e9ecef;
  background-color: #0c8599;
  color: #e9ecef;
  cursor: pointer;
  border-radius: 8px;
  transition: ease-out all 0.2s;
}

.contact-submit:active {
  background-color: #55aab8;
}

/* MEDIA QUERY */

/******************************/
/* BELOW 1200px (Landscape Tables) */
/******************************/

@media (max-width: 75em) {
  html {
    /* 9/16 =  0.5625 = 56.25% */
    font-size: 62.5%;
  }

  .right-side-content {
    max-width: 80%;
  }
}

@media (max-width: 66em) {
  html {
    font-size: 56.25%;
  }

  .sub-title {
    font-size: 4rem;
  }
}

/* below 850 */
@media (max-width: 54em) {
  /* * {
    border: 3px solid red;
  } */

  body {
    height: 100%;
  }

  .big-container {
    flex-direction: column;

    /* height: auto; */
    /* padding: 10rem auto; */
    /* height: auto; */
    margin: 5rem auto;
    position: relative;
  }

  .left-side {
    border-right: none;
    height: 100rem;
    position: static;
  }

  .right-side::-webkit-scrollbar {
    width: 0;
  }

  .project-image,
  .project-link-information {
    width: 100%;
  }
}

/* below 584px */
@media (max-width: 36.5em) {
  html {
    font-size: 50%;
  }

  .big-container {
    width: 95%;
    border: 3px solid #e9ecef;
  }
}

@media (max-width: 27em) {
  html {
    font-size: 44%;
  }
  .big-container {
    width: 95%;
    border: 1px solid #e9ecef;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0c8599;
    width: 100%;
    height: 6rem;
  }

  .left-header-nav {
    background-color: #55aab8;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    /* Hide navigation */
    /* Allows no transition at all. */
    /* display: none; */

    /* 1) Hide it visually  */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .left-header-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 3rem;
  }

  .right-side-content {
    /* max-width: 90%; */
    padding: 4rem 0;
  }

  .sub-title {
    font-size: 3rem;
  }

  .tools--text {
    text-indent: 5rem;
  }

  .project {
    width: 100%;
    padding: 1rem 1.2rem;
  }
}
